# 숫자자료형 입력

In [5]:
1

1

In [6]:
2+3

5

In [7]:
2-3

-1

In [8]:
2*3

6

In [9]:
2/3

0.6666666666666666

In [10]:
8//3

2

In [11]:
8%3

2

# 문자자료형 입력

In [12]:
'문자'

'문자'

In [13]:
"문자"

'문자'

In [14]:
'python'

'python'

In [15]:
"파이썬"

'파이썬'

# 1=='1'

In [16]:
1=='1'

False

In [17]:
1+1

2

In [18]:
'1'+'1'

'11'

In [19]:
1+'1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
type(1)

In [20]:
type('1')

str

# 기본 자료형

In [21]:
type(1)

int

In [22]:
type(1.2)

float

In [23]:
type('Python')

str

In [24]:
type(True)

bool

In [25]:
type(False)

bool

In [26]:
type(None)

NoneType

# 변수선언

In [27]:
a = 1
a

1

In [28]:
b = 'python'
b

'python'

In [29]:
커피 = 3000
커피

3000

In [30]:
청바지 = '청색'
청바지

'청색'

In [31]:
python = 'language'
python

'language'

In [32]:
중간고사= 100
중간고사

100

# 변수의 의의

In [33]:
에스프레소=1800
물=200
우유=500
초콜렛시럽=300
아이스크림=2000

In [34]:
아메리카노=에스프레소+물
카페라떼=에스프레소+물+우유
카페모카=에스프레소+물+우유+초콜렛시럽
아포가또=에스프레소+아이스크림

In [35]:
아메리카노

2000

In [36]:
카페라떼

2500

In [37]:
카페모카

2800

In [38]:
아포가또

3800

In [39]:
아메리카노=2000+물
카페라떼=2000+물+우유
카페모카=2000+물+우유+초콜렛시럽
아포가또=2000+아이스크림

In [40]:
아메리카노

2200

In [41]:
카페라떼

2700

In [42]:
카페모카

3000

In [43]:
아포가또

4000

In [44]:
에스프레소=2000

In [45]:
아메리카노=에스프레소+물
카페라떼=에스프레소+물+우유
카페모카=에스프레소+물+우유+초콜렛시럽
아포가또=에스프레소+아이스크림

In [46]:
아메리카노

2200

In [47]:
카페라떼

2700

In [48]:
카페모카

3000

In [49]:
아포가또

4000

# 기본 자료형의 집합, 자료구조
## 1. List(Sequence)
#### 자료형을 순서대로 나열하여 저장하는 자료구조

In [50]:
#대괄호로 리스트를 만들어 문자자료형 저장
['programming launguage','trendy']

['programming launguage', 'trendy']

In [51]:
#리스트를 변수로 선언하여 출력
python=['programming launguage','trendy']
python

['programming launguage', 'trendy']

In [1]:
#순서 정보를 리스트로 표현
['one','two','three']

['one', 'two', 'three']

In [3]:
#리스트를 변수로 선언하여 출력
순서=['one','two','three']
순서

['one', 'two', 'three']

## 2. Dictionary(mapping)
#### 자료형을 짝지어(Key와 Value로 연결하여) 저장

In [54]:
#중괄호로 딕셔너리를 만들어 문자자료형을 저장
{"아메리카노":3000,"카페라떼":3500, "카페모카":3800}

{'아메리카노': 3000, '카페라떼': 3500, '카페모카': 3800}

In [55]:
#변수로 선언하여 출력
카페={"아메리카노":3000,"카페라떼":3500, "카페모카":3800}
카페

{'아메리카노': 3000, '카페라떼': 3500, '카페모카': 3800}

In [56]:
#Key와 Value로 짝지어 연결됨
{"민수":"A","동엽":"B","강남":"C"}

{'민수': 'A', '동엽': 'B', '강남': 'C'}

In [57]:
#딕셔너리를 변수로 선언하여 출력
인사고과={"민수":"A","동엽":"B","강남":"C"}
인사고과

{'민수': 'A', '동엽': 'B', '강남': 'C'}

# 리스트 인덱싱

In [4]:
순서[0]

'one'

In [5]:
순서[1]

'two'

In [6]:
순서[2]

'three'

# 리스트 슬라이싱

In [7]:
순서[0:3]

['one', 'two', 'three']

In [8]:
순서[0:2]

['one', 'two']

In [9]:
순서[0:1]

['one']

In [10]:
순서[1:3]

['two', 'three']

# 데이터프레임 인덱싱

In [65]:
from pandas import DataFrame
from pandas import Series

In [66]:
중간고사=Series([100,90,80,70],index=['철수','영희','민수','동엽'])
기말고사=Series([80,85,90,100],index=['철수','영희','민수','동엽'])

In [67]:
df=DataFrame({"중간고사":중간고사,"기말고사":기말고사})
df

    중간고사  기말고사
철수   100    80
영희    90    85
민수    80    90
동엽    70   100

In [68]:
#칼럼 인덱싱
df['중간고사']

철수    100
영희     90
민수     80
동엽     70
Name: 중간고사, dtype: int64

In [69]:
#칼럼 인덱싱
df[['중간고사','기말고사']]

    중간고사  기말고사
철수   100    80
영희    90    85
민수    80    90
동엽    70   100

In [70]:
#loc(location) 인덱서
df.loc['철수','중간고사']

100

In [71]:
#loc(location) 인덱서
df.loc['영희','기말고사']

85

In [72]:
#iloc(location) 인덱서
df.iloc[0,0]

100

In [73]:
#iloc(location) 인덱서
df.iloc[1,1]

85