# if문

In [10]:
# 변수 자체가 True or False인 경우 
ctr=True

In [11]:
if ctr:
    print('캠페인 성과 측정 시작')

캠페인 성과 측정 시작

In [12]:
# x in s일때
x=[1,2,3]
if 1 in x:
    print(x)

[1, 2, 3]

In [13]:
#비교 연산자 및 논리연산자
sneakers=85000
shirts=65000
# 스니커즈와 셔츠 가격이 둘다 6만원보다 비싸다면 나는 그냥 스니커즈를 구매할래
if sneakers>=60000 and shirts>=60000:
    print('스니커즈 구매')
else : 
    print('셔츠 구매')

스니커즈 구매

# for문

In [18]:
items=['NIKE','ADIDAS','CARHATT','POLO','DRMARTENS','NEW_BALANCE','VANS']

In [20]:
#편집샵 - 전체 중 5개 아이템 출력
for num in range(0,5):
    print(items[num])

NIKE
ADIDAS
CARHATT
POLO
DRMARTENS

In [21]:
#편집샵 - 전체 중 5개 아이템 출력
#5개 아이템을 새로운 리스트에 담아(변수로 만들어) 출력
newitems=[]
for num in range(0,5):    
    newitems.append(items[num])
newitems

['NIKE', 'ADIDAS', 'CARHATT', 'POLO', 'DRMARTENS']

In [22]:
#편집샵 - 모든 아이템을 새로운 리스트에 담아 출력
#전체를 담기위한 len함수
newitems2=[]
for num in range(0,len(items)):    
    newitems2.append(items[num])
newitems2

['NIKE', 'ADIDAS', 'CARHATT', 'POLO', 'DRMARTENS', 'NEW_BALANCE', 'VANS']

In [23]:
#블랙프라이데이맞이 10,000원샵 운영
sale_items={}
for item in items:        
    sale_items[item]=10000
print('왕창 세일!!')    
sale_items

왕창 세일!!

{'ADIDAS': 10000,
 'CARHATT': 10000,
 'DRMARTENS': 10000,
 'NEW_BALANCE': 10000,
 'NIKE': 10000,
 'POLO': 10000,
 'VANS': 10000}

In [47]:
#아이템을 이름별로 정렬
#2,000원씩 상향하여 판매
items=['NIKE','ADIDAS','CARHATT','POLO','DRMARTENS','NEW_BALANCE','VANS']
sale_items2={}
price=10000

In [48]:
items

['NIKE', 'ADIDAS', 'CARHATT', 'POLO', 'DRMARTENS', 'NEW_BALANCE', 'VANS']

In [49]:
items.sort()
items

['ADIDAS', 'CARHATT', 'DRMARTENS', 'NEW_BALANCE', 'NIKE', 'POLO', 'VANS']

In [50]:
for item in items:
    sale_items2[item]=price
    price=price+2000
sale_items2

{'ADIDAS': 10000,
 'CARHATT': 12000,
 'DRMARTENS': 14000,
 'NEW_BALANCE': 16000,
 'NIKE': 18000,
 'POLO': 20000,
 'VANS': 22000}

In [52]:
#20,000원 이하 제품 제외
items=['NIKE','ADIDAS','CARHATT','POLO','DRMARTENS','NEW_BALANCE','VANS']
sale_items2={}
sale_items3={}
price=10000
items.sort()
for item in items:    
    sale_items2[item]=price
    price=price+2000

for brand, price in sale_items2.items():
    if price<20000:
        sale_items3[brand]=price
sale_items3

{'ADIDAS': 10000,
 'CARHATT': 12000,
 'DRMARTENS': 14000,
 'NEW_BALANCE': 16000,
 'NIKE': 18000}

In [53]:
#세일 후 매출계산
#판매량 : 아디다스 20개, 칼하트 23개, 닥터마틴 15개, 뉴발란스 28개, 나이키 30개

count=[20,23,15,28,30]
cnt=0
total=[]
for key in sale_items3:    
    print(sale_items3.get(key)*count[cnt])
    total.append(sale_items3.get(key)*count[cnt])
    cnt=cnt+1
print("total :", sum(total))

200000
276000
210000
448000
540000
total : 1674000